/* FUNDING CSS MAIN DIV */
.fundingMainDiv {
    padding: 0;
    height: fit-content;

}

.fundingMainHeader {
    text-align: start;
    margin: 12px 12px 12px 0;
    padding: 0;
    color: #363636;
    border-bottom: 3px solid rgba(255, 194, 28, 0.678);
    width: fit-content;
    border-radius: 2px;
    font-size: 30px;
}



/* BORROW TABLE */

.fundingMainDiv th {
    background: #f5f7f7;
    text-align: start;
    padding: 6px;
    color: #7b7d7d;
    font-weight: 600;
    white-space: nowrap;
    transition: background-color .2s ease-in;
}

.fundingMainDiv th:hover {
    background-color: rgb(236, 236, 236);
}
.fundingMainDiv thead tr th {
    position: sticky;
    top: 0px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 12;
}


.fundingMainDiv th:nth-child(7)::after {
    background: none;
}

.fundingMainDiv th::after {
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    bottom: 25%;
    width: 1px;
    background: #dcdcdc;
}

.fundingMainDiv th::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid #dcdcdc;
}

.fundingMainDiv table {
    border-collapse: collapse;
    font: normal 12px arial;
    width: calc(100vw / 1.1);
    min-width: 100px;
    max-width: 1400px;
    position: relative;
    table-layout: auto;
}

.fundingMainDiv td:nth-child(7)::after {
    background: none;
}

.fundingMainDiv td {
    border-bottom: 1px solid #cdcdcd;
    padding: 3px 6px;
    white-space: nowrap;
    font-size: 13px;
    position: relative;
}

.fundingTable.active td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    width: 30px;
}

.fundingTable.active td:first-child::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: -1;
}

.fundingMainDiv td::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #f4f3f3;
}

.tableThName {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-content: center;
}
.tableThNameDiv {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.tableThNameDiv strong {
    margin-top: 1px;
    margin-left: 3px;
}

@media (min-width: 600px) {
    .stickyNamesButton {
            font-size: 10px;
            border-radius: 2px;
            border: 1px solid rgb(162, 162, 162);
            padding: 1px;
            margin: 0;
            color: rgb(100, 100, 100);
            background-color: transparent;
            visibility: hidden;
        }
}
@media (max-width: 600px) {
    .stickyNamesButton {
        font-size: 10px;
        border-radius: 2px;
        border: 1px solid rgb(162, 162, 162);
        padding: 1px;
        margin: 0;
        color: rgb(100, 100, 100);
        transition: all 0.2s ease;
        background-color: transparent;
    }
}

.tdSymbolAndName {
    position: relative;
}


.watchListMinus {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(109, 109, 109);
    cursor: pointer;
}
.watchListPlus {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: rgb(109, 109, 109);
    cursor: pointer;
}

.watchListMinus:hover {
    color: rgb(255, 190, 70);
}

.watchListPlus:hover {
    color: rgb(255, 190, 70);
}

.watchListMinus:focus,
.watchListMinus:active {
    color: rgb(255, 190, 70);
    scale: 1.05;
    top: 53.5%;
    right: 5.5px;
}

.watchListPlus:focus,
.watchListPlus:active {
    color: rgb(255, 190, 70);
    scale: 1.05;
    top: 54%;
}



.tdSymbolAndName span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(68, 68, 255);
    position: relative;
    transition: color 0.2s ease;
    z-index: 10;
    margin-left: 5px;
}

.tdSymbolAndName span::before,
.tdSymbolAndName span::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: rgb(68, 68, 255);
    transition: width 0.2s ease;
}

.tdSymbolAndName span::before {
    left: 0;
}

.tdSymbolAndName span::after {
    right: 0;
}

.tdSymbolAndName span:hover::before,
.tdSymbolAndName span:hover::after,
.tdSymbolAndName img:hover + span::before,
.tdSymbolAndName img:hover + span::after {
    width: 0;
    background-color: black;
}

.tdSymbolAndName span:hover {
    color: black;
    cursor: pointer;

}
.tdSymbolAndName img:hover {
    cursor: pointer;
}

.fundingMainDiv td,
.fundingMainDiv td * {
    vertical-align: middle;
    white-space: nowrap;
}

.fundingMainDiv tr:nth-child(odd) {
    background-color: #ffffff;
}

.fundingMainDiv tr:nth-child(even) {
    background-color: #fcfcfc;
}


/* TABLE BORDER*/
.scrollDiv {
    border: 1px solid rgb(195, 195, 195);
    width: calc(100vw / 1.1);
    min-width: 100px;
    max-width: 1400px;
}


.arrows {
    font-size: 11px;
}
