/* FUNDING CSS MAIN DIV */
.borrowMainDiv {
    padding: 0;
    height: fit-content;

}

.borrowMainHeader {
    text-align: start;
    margin: 12px 12px 12px 0;
    padding: 0;
    color: #424242;
    border-bottom: 3px solid rgb(255, 209, 57);
    width: fit-content;
    border-radius: 2px;
    
}



/* BORROW TABLE */

.borrowMainDiv th {
    background: #f5f7f7;
    text-align: start;
    padding: 6px;
    color: #7b7d7d;
    font-weight: 600;
    white-space: nowrap;
}

.borrowMainDiv thead tr th {
    position: sticky;
    top: 0px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 12;
}


.borrowMainDiv th:nth-child(7)::after {
    background: none;
}

.borrowMainDiv th::after {
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    bottom: 25%;
    width: 1px;
    background: #dcdcdc;
}

.borrowMainDiv th::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid #dcdcdc;
}

.borrowMainDiv table {
    border-collapse: collapse;
    font: normal 12px arial;
    width: calc(100vw / 1.1);
    min-width: 100px;
    max-width: 1400px;
    position: relative;
    table-layout: auto;
}

.borrowMainDiv td:nth-child(7)::after {
    background: none;
}

.borrowMainDiv td {
    border-bottom: 1px solid #cdcdcd;
    padding: 3px 6px;
    white-space: nowrap;
    font-size: 13px;
    position: relative;
}

.borrowTable.active td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    width: 30px;
}

.borrowTable.active td:first-child::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: -1;
}

.borrowMainDiv td::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #f4f3f3;
}

.tableThName {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-content: center;
}

.tableThNameDiv {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.tableThNameDiv strong {
    margin-top: 1px;
    margin-left: 3px;
}

@media (min-width: 600px) {
    .stickyNamesButton {
        font-size: 10px;
        border-radius: 2px;
        border: 1px solid rgb(162, 162, 162);
        padding: 1px;
        margin: 0;
        visibility: hidden;
    }
}

@media (max-width: 600px) {
    .stickyNamesButton {
        font-size: 10px;
        border-radius: 2px;
        border: 1px solid rgb(162, 162, 162);
        padding: 1px;
        margin: 0;
        transition: all 0.2s ease;
    }
}

.tdSymbolAndName {
    /* position: absolute;
    left: 0; */
}

.tdSymbolAndName span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: blue;
    position: relative;
    transition: color 0.2s ease;
    z-index: 10;
    margin-left: 5px;
}

.tdSymbolAndName span::before,
.tdSymbolAndName span::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: blue;
    transition: width 0.2s ease;
}

.tdSymbolAndName span::before {
    left: 0;
}

.tdSymbolAndName span::after {
    right: 0;
}

.tdSymbolAndName span:hover::before,
.tdSymbolAndName span:hover::after,
.tdSymbolAndName img:hover+span::before,
.tdSymbolAndName img:hover+span::after {
    width: 0;
    background-color: black;
}

.tdSymbolAndName span:hover {
    color: black;
    cursor: pointer;

}

.tdSymbolAndName img:hover {
    cursor: pointer;
}

.borrowMainDiv td,
.borrowMainDiv td * {
    vertical-align: middle;
    white-space: nowrap;
}

.borrowMainDiv tr:nth-child(odd) {
    background-color: #ffffff;
}

.borrowMainDiv tr:nth-child(even) {
    background-color: #fcfcfc;
}


/* TABLE BORDER*/
.scrollDiv {
    border: 1px solid rgb(195, 195, 195);
    width: calc(100vw / 1.1);
    min-width: 100px;
    max-width: 1400px;
}


.arrows {
    font-size: 11px;
}
