.main {
  display: flex;
  flex-direction: column;
  gap: 60px 0px;
  background-color: transparent;
  padding: 0 0 0 0;
  min-height: 1300px;
  height: fit-content;
}

.mainDivTwo {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutLink {
  width: 100%;
  text-align: center;
}
