.skeleton {
    animation: skeleton-loading .7s linear infinite alternate;
    width: 600px;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(195, 12%, 94%);
    }

    100% {
        background-color: hsl(203, 19%, 86%);
    }
}

.skeleton-text {
    width: calc(100vw / 1.1);
        min-width: 100px;
        max-width: 1400px;
    height: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.skeleton-text__body {
    width: 75%;
}

.skeleton-footer {
    width: 30%;
}
