.logoVideoDiv {
    position: relative;
    width: 340px;
    height: 51px;
    overflow: hidden;
    z-index: 100000;
    border-radius: 10px;
    background-color: #000017;
}
.logoVideo {
    width: 340px;
    height: 200px;
    position: relative;
    z-index: -1;
    left:  -30px;
    top: -70px;
    background-color: black;
    pointer-events: none;
}
